<div class="fullsize-content" ng-repeat="image in ac.album.images" ng-show="image.showFullsize">
  <img data-ng-src="{{image.url}}" height="300" width="300" />
  <p class="fullsize-title"><strong>{{image.title}}</strong></p>
  <p> {{image.description}} </p>
  <br />
  <button name="back" class="album-button" ng-show="ac.album.fullsize" ng-click="ac.goBack(image.id)">
    <i class="fa fa-back"></i> BACK
  </button>
</div>

<div class="thumbnail-content" ng-repeat="album in ac.album" ng-show="ac.album.viewThumbnail">
  <h2 class="page-title"> {{album.title}} </h2>
  <a ng-repeat="image in album.images" ng-click="ac.showFullsize(image.id)" href="" class="thumbnail">
    <img ng-src="{{image.url}}" height="100" width="100" />
    <br />
    {{image.title}}
  </a>
</div>

<div class="list-content" ng-repeat="album in ac.album" ng-show="ac.album.viewList">
  {{album.title}}
  <h2 class="page-title"> {{album.title}} </h2>
  <a ng-repeat="image in album.images" ng-click="ac.showFullsize(image.id)" href="" class="list-link">
    <strong>{{image.title}}</strong>&nbsp;: {{image.description}}
  </a>
</div>


<nav class="album-nav" ng-show="ac.album.viewList || ac.album.viewThumbnail">
  <ul>
    <li>
      <button name="thumb" type="button" class="album-button" ng-click="ac.showThumbnail()">
        <i class="fa fa-th-large"></i> GRID VIEW
      </button>
    </li>
    <li>
      <button name="list" type="button" class="album-button" ng-click="ac.showList()">
        <i class="fa fa-bars"></i> LIST VIEW
      </button>
    </li>
  </ul>
</nav>
